.section-title{
    text-align: center;
    margin-bottom: 3.5rem;
}


.section-title h2{
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 0.8;
    margin-bottom: 0.4rem;
}


.section-title p{
    font-size: 1.2rem;
    font-weight: 500;
}
